[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

"django-afip" = "*"
django = "*"
"dj-database-url" = "*"
gunicorn = "*"
whitenoise = "*"
"psycopg2" = "*"
envparse = "*"
"django-storages" = "*"
boto = "*"
pybarcode = ">=0.8b1"


[dev-packages]