[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

"django-afip" = ">=4.1.6"
django = ">=2.0a1"
"dj-database-url" = "*"
gunicorn = "*"
whitenoise = "*"
"psycopg2" = "*"
envparse = "*"
"django-storages" = "*"
boto = "*"
pybarcode = ">=0.8b1"
raven = "*"


[dev-packages]
[pipenv]
"allow_prereleases" = true